html,
body {
  height: 100%;
  width: 100%;
  font-size: 0.8rem;
  font-family: 'Monoid' !important;
}

.rst__moveHandle,
.rst__loadingHandle {
  background-color: #b5a33f;
  border-radius: 10px 0px 0px 10px !important;
  border: 1px solid #b5a33f;
  color: white;
}

div.rst__rowContents {
  border-radius: 0px 10px 10px 0px;
  border-top: 1px solid #b5a33f;
  border-bottom: 1px solid #b5a33f;
  border-right: 1px solid #b5a33f;
}

div.rst__moveHandle {
  background-color: #b5a33f;
}

.rstcustom__rowLabel {
  cursor: pointer;
}
